<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>exercise</title>
    <style>
        table {
            text-align: center;
            display: flex;
            justify-content: center;
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        tr {
            height: 60px;
            width: 80px;
        }
        
        td {
            border: solid 2px;
            height: 60px;
            width: 80px;
            padding: 0;
        }
    </style>
</head>

<body>
    <div>
        <table cellspacing="0px" cellpadding="0px">
            <tr>
                <th colspan="7">个人简历</th>
            </tr>
            <tr>
                <td>姓名</td>
                <td></td>
                <td>性别</td>
                <td></td>
                <td>出生年月</td>
                <td></td>
                <td rowspan="4"></td>
            </tr>
            <tr>
                <td>祖籍</td>
                <td></td>
                <td>民族</td>
                <td></td>
                <td>政治面貌</td>
                <td></td>
            </tr>
            <tr>
                <td>身体状况</td>
                <td></td>
                <td>婚姻情况</td>
                <td></td>
                <td>学历</td>
                <td></td>
            </tr>
            <tr>
                <td>毕业学校</td>
                <td colspan="2"></td>
                <td>所学专业</td>
                <td colspan="2"></td>
            </tr>
            <tr style="height: 100px;">
                <td>专业能力</td>
                <td colspan="6"></td>
            </tr>
            <tr style="height: 100px;">
                <td>求职意向</td>
                <td colspan="6"></td>
            </tr>
            <tr style="height: 100px;">
                <td>获奖情况</td>
                <td colspan="6"></td>
            </tr>
            <tr style="height: 100px;">
                <td>自我评价</td>
                <td colspan="6"></td>
            </tr>
        </table>
    </div>
</body>
